<div class="content container-fluid" role="main">
    <ul>

        <li *ngFor="let package of learningPackages">{{ package.title }}</li>

    </ul>
    <!-- Ajouter un formulaire pour soumettre de nouveaux learning packages -->
    <form (ngSubmit)="addNewLearningPackage(packageTitle)">
        <input type="text" [(ngModel)]="packageTitle" name="packageTitle" required>
        <button type="submit">Add Package</button>
    </form>

    <nav class="navbar navbar-expand-lg navbar-brand bg-white navbar-expand pt-3">
        <div class="container-fluid mx-auto" style="max-width: 30%; ">
            <a class="navbar-brand " href="#">package</a>
            <div class="collapse navbar-collapse " id="navbarNavDarkDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Delete</a></li>
                            <li><a class="dropdown-item" href="#">Add item</a></li>
                            <li><a class="dropdown-item" href="#">Rename</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


</div>