<div class="bg-image d-flex justify-content-center align-items-center"
     style="
        background-image: url('assets/images/Kool_Eagle.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        height: calc(100vh - 66px);">
    <div class="container bg-light rounded-5 p-5">
        <p>This site is a project for a web development course we are following at ESILV (École supérieure d'ingénieurs Léonard-de-Vinci)</p>
        <p>The developers: Yann Villellas, Guillaume Eyssartier, Thomas Soufflet, Marc Viallard.</p>
        <p>Our code is available here :</p>
        <a href="https://github.com/yannvillellas/Angular-website" target="_blank">https://github.com/yannvillellas/Angular-website</a>

    </div>

</div>
<div class="container bg-light rounded-5 p-5">
    <ag-grid-angular
    class="ag-theme-alpine"
    style="height: 500px;width: 500px;"
    [rowData]="rowData"
    [columnDefs]="colDefs"
    >
    </ag-grid-angular>
</div>

