

<div class="bg-image "
     style="
        background-image: url('assets/images/Kool_Eagle.jpg');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        height: calc(100vh - 66px);">
    <div class="content container-fluid h-25 md:h-50"  style="color: white; padding-top: 10%;"  >
        <p>This site is a project for a web development course we are following at ESILV (École supérieure d'ingénieurs Léonard-de-Vinci)</p>
        <p>The developers: Yann Villellas, Guillaume Eyssartier, Thomas Soufflet, Marc Viallard.</p>
        <p>Our code is available here :</p>
        <a href="https://github.com/yannvillellas/Angular-website" target="_blank">github</a>
    </div>
</div>