<div class="bg-image position-relative d-flex justify-content-center align-items-center"
     style="
        background-image: url('assets/images/Kool_Eagle.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: calc(100vh - 66px);
">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-75"></div>

    <div class="container text-light rounded-5 p-5 position-relative">
        <h1 class="display-1 fw-bold">About us</h1>
        <h4>This site is a project for a web development course we are following at ESILV (École supérieure d'ingénieurs Léonard-de-Vinci)</h4>
        <h5>The developers: Yann Villellas, Guillaume Eyssartier, Thomas Soufflet, Marc Viallard.</h5>
        <a>Our code is available here: </a>
        <a href="https://github.com/yannvillellas/Angular-website" target="_blank">https://github.com/yannvillellas/Angular-website</a>
    </div>
</div>