/* Add a background color to the navigation bar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.navbar img {
    margin: 0 16px;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
}

/* Change the color of links on hover */
.navbar a:hover {
    color: #ffffff;
}