<nav class="navbar navbar-expand-md navbar-dark bg-primary static-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/images/eagle.png" alt="Logo" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <a class="nav-link" [routerLink]="['']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
                <a class="nav-link" [routerLink]="['/lessons']" [routerLinkActive]="['active']">Lessons</a>
                <a class="nav-link" [routerLink]="['/about']" [routerLinkActive]="['active']">About</a>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>